<% include partials/header %>

<h1>Register As Admin</h1>
<form action="/admin/register" method="POST">
  <% if(error){ %>
  <p><%= error %></p>
  <% } %>
  <input type="text" name="name" placeholder="Enter Name" />
  <input type="email" name="email" placeholder="Enter Email" />
  <input type="password" name="password" placeholder="Enter Password" />
  <input type="submit" />
</form>

<% include partials/footer %>
