<% include partials/header-logout %>

<h2>Title: <%= article.name %></h2>
<h3>Author: <%= article.description %></h3>

<a href="/articles/<%= article.id %>/edit">
  <button>Update</button>
</a>

<a href="/articles/<%= article.id %>/delete">
  <button>Delete</button>
</a>

<% include partials/footer %>
