<% include partials/header %>

<form action="/users/register" method="POST">
  <h3>Register</h3>
  <input type="text" name="name" placeholder="Add Name" />
  <input type="email" name="email" placeholder="Add Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" />
</form>

<% include partials/footer %>
